body {
    font-family: 'Chewy', cursive;
    color: white;
    background: #333536;
    font-size: 24px;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

hr {
    width: 99.5%;
    border-top: 2px solid white;
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
    margin: 15px;
    border: 2px solid white;
}

.content {
    padding: 15px;
}

.gallery{
    max-width: 1300px;
}

.larger {
    font-size: 36px;
}

span {
    font-size: 24px;
}

.socials {
    background: #333536;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 5px;
    float: right;
    width: fit-content;
    position: sticky;
}

.header {
    padding: 15px;
}

a:link {
    text-decoration: underline;
    color: white;
}

a:visited {
    text-decoration: underline;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: underline;
    color: white;
}

.button {
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}